$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'fontawesome/font-awesome';
@import 'fonts';
@import 'mixins';
@import 'variables';

/* Homepage */
#home {
  > .container-fluid {
    background: url(../images/homepage.jpg) center center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: '768px') { 
  #home {
    > .container-fluid {
      .col-xs-12 {
        min-height: 52px;
      }
    }
  }
  #home {
    .row {
      height: 100%;
    }
  }
  .home-col-1 {
    &.inactive {
      position: absolute;
      bottom: 104px;
    }
  }
  .home-col-2 {
    &.inactive {
      position: absolute;
      bottom: 52px;
    }
  }
  .home-col-3 {
    &.inactive {
      position: absolute;
      bottom: 0px;
    }
  }
}


/* Products - overview */
#products {
  background-color: $light-grey-color;
  
  .banner-holder {
    background: url(../images/products.jpg) center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 350px;
    box-shadow: 0 -6px 3px rgba(0,0,0,0.6) inset;
    position: relative;
  }
}

#products {
  h4 > img {
    margin-right: 5px;
  }
}