$fa-font-path: "fonts/bower_components/fontawesome/fonts";
$rs-font-path: "fonts/bower_components/roboto-slab-fontface/fonts";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

@import 'mixins';
@import 'variables';

/* Homepage */
#home {
  > .container-fluid {
    background: url(../images/homepage.jpg) center center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: '768px') { 
  #home {
    > .container-fluid {
      .col-xs-12 {
        min-height: 52px;
      }
    }
  }
  #home {
    .row {
      height: 100%;
    }
  }
  .home-col-1 {
    &.inactive {
      position: absolute;
      bottom: 104px;
    }
  }
  .home-col-2 {
    &.inactive {
      position: absolute;
      bottom: 52px;
    }
  }
  .home-col-3 {
    &.inactive {
      position: absolute;
      bottom: 0px;
    }
  }
}


/* Products - overview */
#products,
#solutions,
#contact {
  background-color: $light-grey-color;
  
  .banner-holder {
    background-image: url(../images/products.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    @include set(height, (xs: 250px, sm: 290px, md: 320px, lg: 350px) );
    box-shadow: 0 -4px 10px rgba(0,0,0,0.4) inset;
    position: relative;
    &.products-hub {
      background-image: url(../images/products-hub.jpg) !important;
    }
    &.products-node {
      background-image: url(../images/products-node.jpg) !important;
    }
    &.products-features {
      background-image: url(../images/products-features.jpg) !important;
    }
    &.products-tech-specs {
      background-image: url(../images/products-tech-specs.jpg) !important;
    }
    &.products-see-it-in-action {
      background-image: url(../images/products-see-it-in-action.jpg) !important;
    }
    &.solutions {
      background-image: url(../images/solutions.jpg) !important;
    }
    &.solutions-what-we-solve {
      background-image: url(../images/solutions-what-we-solve.jpg) !important;
    }
    &.solutions-benefits {
      background-image: url(../images/solutions-benefits.jpg) !important;
    }
    &.solutions-large-business {
      background-image: url(../images/solutions-large-business.jpg) !important;
    }
    &.solutions-small-business {
      background-image: url(../images/solutions-small-business.jpg) !important;
    }
    &.contact {
      background-image: url(../images/contact.jpg) !important;
    }
  }
}

#products {
  h4 > img {
    margin-right: 5px;
  }
}

.inner-page-intro-container {
  margin-top: -140px;
  position: relative;
  z-index: 10;
}

.inner-page-intro {
  background-color: rgba(255,255,255,0.95);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  padding: 20px 40px !important;
  margin-bottom: 20px;
}

//products galleries page trumbnail column border reset
.single-feature-gallery {
  .thumbnail {
    border: 0;
  }
  .single-feature-items {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

//solutions benefits tabs
#solutions-benefits-tabs {
  &.tabs-left {
    > .nav-tabs {
      margin-right: 25px;
      border-right: 0;
      > li.active > a {
        border: 0;
        border-right: 1px solid $table-border-color;
      }
    }
  }
}

