/* ------------------------------------------------------------------------
This you can edit.
------------------------------------------------------------------------- */

/* ----------------------------------
Default Theme
----------------------------------- */

div.pp_default {
  .pp_top {
    height: 13px;
    .pp_middle, .pp_left, .pp_right {
      height: 13px;
    }
    .pp_left {
      background: url(../images/prettyPhoto_sprite.png) -78px -93px no-repeat;
    }
    .pp_middle {
      background: url(../images/prettyPhoto_sprite_x.png) top left repeat-x;
    }
    .pp_right {
      background: url(../images/prettyPhoto_sprite.png) -112px -93px no-repeat;
    }
  }
  .pp_bottom {
    .pp_middle, .pp_left, .pp_right {
      height: 13px;
    }
  }
  .pp_content {
    background-color: #fff;
    .ppt { color: #f8f8f8; }
  }
  .pp_content_container {
    .pp_left { 
      background: url(../images/prettyPhoto_sprite_y.png) -7px 0 repeat-y;
      padding-left: 13px;
    }
    .pp_right {
      background: url(../images/prettyPhoto_sprite_y.png) top right repeat-y;
      padding-right: 13px;
    }
    .pp_details {
      margin-top: 5px;
      a.pp_arrow_previous,
      a.pp_arrow_next {
        background: url(../images/prettyPhoto_sprite.png) -31px -3px no-repeat;
        height: 20px;
        margin: 4px 0 0 0;
        width: 20px;
        &:hover {
          opacity:0.7;
        }
      }
      a.pp_arrow_next {
        left: 52px;
        background-position: -82px -3px;
      }
    }
  }
  .pp_next {
    &:hover {
      background: url(../images/prettyPhoto_sprite_next.png) center right  no-repeat;
      cursor: pointer;
    }
  }
  .pp_previous {
    &:hover {
      background: url(../images/prettyPhoto_sprite_prev.png) center left no-repeat;
      cursor: pointer;
    }
  }
  .pp_expand{
    background: url(../images/prettyPhoto_sprite.png) 0 -29px no-repeat; 
    cursor: pointer; 
    width: 28px; 
    height: 28px;
    &:hover {
      background: url(../images/prettyPhoto_sprite.png) 0 -56px no-repeat;
      cursor: pointer;
    }
  }
  .pp_contract {
    background: url(../images/prettyPhoto_sprite.png) 0 -84px no-repeat;
    cursor: pointer;
    width: 28px;
    height: 28px;
    &:hover {
      background: url(../images/prettyPhoto_sprite.png) 0 -113px no-repeat;
      cursor: pointer;
    }
  }
  .pp_close {
    width: 30px;
    height: 30px;
    background: url(../images/prettyPhoto_sprite.png) 2px 1px no-repeat;
    cursor: pointer;
    &:hover {
      opacity:0.7;
    }
  }
  #pp_full_res{
    .pp_inline {
      color: #000;
    }
  }
  .pp_gallery {
    ul {
      li {
        a {
          background: url(../images/prettyPhoto_default_thumb.png) center center #f8f8f8;
          border:1px solid #aaa;
          &:hover {
            border-color: #fff;
          }
        }
        &.selected {
          a {
            border-color: #fff;
          }
        }
      }
    }
    a.pp_arrow_previous,
    a.pp_arrow_next {
      background: url(../images/prettyPhoto_sprite.png) -31px -3px no-repeat;
      height: 20px;
      margin: 4px 0 0 0;
      width: 20px;
      position: static;
      left: auto;
      &:hover {
        opacity:0.7;
      }
    }
    a.pp_arrow_next {
      left: 52px;
      background-position: -82px -3px;
    }
  }
  .pp_social {
    margin-top: 7px;
  }
  .pp_nav {
    clear: none;
    height: 30px;
    width: 110px;
    position: relative;
    .pp_play,
    .pp_pause {
      background: url(../images/prettyPhoto_sprite.png) -51px 1px no-repeat;
      height:30px;
      width:30px;
      &:hover {
        opacity:0.7;
      }
    }
    .pp_pause {
      background-position: -51px -29px;
    }
    .currentTextHolder{
      font-family: Georgia;
      font-style: italic;
      color:#999;
      font-size: 11px;
      left: 75px;
      line-height: 25px;
      margin: 0;
      padding: 0 0 0 10px;
      position: absolute;
      top: 2px;
    }
  }
  .pp_details {
    position: relative;
  }
  .pp_description{
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 5px 50px 5px 0;
  }
  .pp_bottom {
    .pp_left {
      background: url(../images/prettyPhoto_sprite.png) -78px -127px no-repeat;
    }
    .pp_middle {
      background: url(../images/prettyPhoto_sprite_x.png) bottom left repeat-x;
    }
    .pp_right {
      background: url(../images/prettyPhoto_sprite.png) -112px -127px no-repeat;
    }
    .pp_loaderIcon {
      background: url(../images/prettyPhoto_loader.gif) center center no-repeat;
    }
  }
}



/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */

div.pp_pic_holder a:focus { outline:none; }

div.pp_overlay {
  background: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}
	
div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000;
}
	
.pp_top {
  height: 20px;
  position: relative;
  * html & {
    padding: 0 20px;
  }
  .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
  .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
    * html & {
      left: 0;
      position: static;
    }
  }
  .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}
.pp_content {
  height: 40px;
  min-width: 40px;
  * html & {
    width: 40px;
  }
}
.pp_fade { display: none; }
		
.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;

  .pp_left {
    padding-left: 20px;
  }
  .pp_right {
    padding-right: 20px;
  }

  .pp_details {
    float: left;
    margin: 10px 0 2px 0;

    .pp_nav {
      clear: right;
      float: left;
      margin: 3px 10px 0 0;

      p {
        float: left;
        margin: 2px 4px;
        white-space: nowrap;
      }

      .pp_play,
      .pp_pause {
        float: left;
        margin-right: 4px;
        text-indent: -10000px;
      }

      a.pp_arrow_previous,
      a.pp_arrow_next {
        display: block;
        float: left;
        height: 15px;
        margin-top: 3px;
        overflow: hidden;
        text-indent: -10000px;
        width: 14px;
      }
    }

    .pp_description {
      display: none;
      margin: 0;
    }

    .pp_social {
      float: left;
      margin: 0;
      .facebook {
        float: left;
        margin-left: 5px;
        width: 55px;
        overflow: hidden;
      }
      .twitter {
        float: left;
      }
    }
  }
}
.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}
		
.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;
  div {
    float: left;
    overflow: hidden;
    position: relative;
  }
  ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;
    a {
      border: 1px #000 solid;
      border: 1px rgba(0,0,0,0.5) solid;
      display: block;
      float: left;
      height: 33px;
      overflow: hidden;
      &:hover {
        border-color: #fff;
      }
      img { border: 0; }
    }
    li {
      display: block;
      float: left;
      margin: 0 5px 0 0;
      padding: 0;
      &.selected {
        a {
          border-color: #fff;
        }
      }
      &.default {
        a {
          background: url(../images/prettyPhoto_facebook_default_thumbnail.gif) 0 0 no-repeat;
          display: block;
          height: 33px;
          width: 50px;
          img { display: none; }
        }
      }
    }
  }
  .pp_arrow_previous,
  .pp_arrow_next {
    display: block;
    float: left;
    height: 15px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -10000px;
    width: 14px;
    margin-top: 7px !important;
  }
}
a.pp_next {
  background: url(../images/prettyPhoto_btnNext.png) 10000px 10000px no-repeat;
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}

a.pp_previous {
  background: url(../images/prettyPhoto_btnNext.png) 10000px 10000px no-repeat;
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}
		
a.pp_expand,
a.pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;	
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
}

a.pp_close {
  position: absolute; right: 0; top: 0; 
  display: block;
  line-height:22px;
  text-indent: -10000px;
}
		
.pp_bottom {
  height: 20px;
  position: relative;
  * html & { padding: 0 20px; }
  .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
  .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
    * html & {
      left: 0;
      position: static;
    }
  }

  .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}
.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}
#pp_full_res {
  line-height: 1 !important;
  .pp_inline {
    text-align: left;
    p { margin: 0 0 15px 0; }
  }
}
div.ppt {
  color: #fff;
  display: none;
  font-size: 17px;
  margin: 0 0 5px 15px;
  z-index: 9999;
}