  <li><a href="index.html">Home</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="products.html">overview</a></li>
      <li class="divider"></li>
      <li><a href="products-hub.html">hub</a></li>
      <li><a href="products-node.html">node</a></li>
      <li class="divider"></li>
      <li><a href="products-features.html">features</a></li>
      <li><a href="products-tech-specs.html">tech specs</a></li>
      <li class="divider"></li>
      <li><a href="products-see-it-in-action.html">see it in action!</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="solutions.html">overview</a></li>
      <li class="divider"></li>
      <li><a href="solutions-what-we-solve.html">what we solve</a></li>
      <li><a href="solutions-benefits.html">benefits</a></li>
      <li class="divider"></li>
      <li><a href="solutions-large-business.html">large business</a></li>
      <li><a href="solutions-small-business.html">small business</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Industries <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="industries.html">overview</a></li>
      <li class="divider"></li>
      <li><a href="industries-agriculture.html">agriculture</a></li>
      <li><a href="industries-electronics.html">electronics</a></li>
      <li><a href="industries-fashion.html">fashion</a></li>
      <li><a href="industries-food-and-beverage.html">food &amp; beverage</a></li>
      <li><a href="industries-office-supplies.html">office supplies</a></li>
      <li><a href="industries-healthcare.html">healthcare</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stories <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="stories.html">overview</a></li>
      <li class="divider"></li>
      <li><a href="stories-selling-together.html">selling together</a></li>
      <li><a href="stories-buying-together.html">buying together</a></li>
      <li><a href="stories-sharing-stock.html">sharing stock</a></li>
      <li><a href="stories-connecting-systems.html">connecting systems</a></li>
    </ul>
  </li>
  <li><a href="contact.html">Contact</a></li>